body{
    background-color: aqua;
    padding: 15%;
}

main{
    background-color: yellow;
}

h1{
    color: purple;
}

section{
    border: color(srgb red green rgb(224, 251, 74));
    display: inline-block;
    width: 30%;
    align-items: stretch;
}

ul{
    background-color: aliceblue;
}

nav ul li{
    list-style: none;
    display: inline-block;
    width: 40%;
}


center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

